USERS=user:hashedpassword user2:hashedpassword2

FTP_BUCKET=

CONFIG_BUCKET=

IAM_ROLE=

# If an IAM role account is not linked with the EC2 instance the docker container is running on set these variables as well
AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=
