Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

UseDNS no

# Change to no to disable tunnelled clear text passwords
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
X11Forwarding no
AllowTcpForwarding no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*


Subsystem sftp internal-sftp
ForceCommand internal-sftp

Match Group ftpaccess
    ChrootDirectory %h
    PasswordAuthentication yes
    AuthorizedKeysFile %h/.ssh/authorized_keys
    X11Forwarding no
    AllowTcpForwarding no
    PermitTunnel no
    ForceCommand internal-sftp -u 022
